.mybrand{
	font-family: helvetica;
}

header{
	height: 100vh;
	background: url('../images/3.jpg') #000 no-repeat;
	background-size: cover;
	width: 100%;
}

nav{
	margin-top: -5vh;
}

#section-1{
	margin-top: -3vh;
}